<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/stys.css') }}">
</head>
<body style="background-color:#EAFAF1">
<form action="change_traffic" method="post">
  <fieldset>
  <legend><big><b>&nbsp Traffic shaping:&nbsp <b></big></legend>
  <div class="p1">
    <label style="font-size:22px"><b>IP Address:</b></label>
    <input type="text" placeholder="Enter the IP Address" name="ip" required>
    <label style="font-size:22px"><b>Interface:</b></label>
    <input type="text" placeholder="Enter the Interface" name="iface" required>
    <label style="font-size:22px"><b>Traffic Constraints:</b></label>
    <input type="text" placeholder="Enter the delay constraint with units" name="dlay">
    <input type="text" placeholder="Enter the jitter constraint with units" name="jitter">
    <input type="text" placeholder="Enter the loss constraint with %" name="loss">
    <button type="submit"> change traffic</button>
    </div>
   </fieldset>
</form>
</body>
</html>
