<html>

<body style="background-color:#EAFAF1">
<big>
<h3> Linux Traffic Shaping:  </h3>[wiki]
<p style="text-align:justify">&nbsp&nbsp&nbsp&nbsp
<b>Traffic Shaping</b>, also known as "Packet Shaping," is the practice of regulating network data transfer to assure a certain level of performance, quality of service (QoS). </p>
<p style="text-align:justify">The practice involves delaying the flow of packets that have been designated as less important or less desired than those of prioritized traffic streams. Regulating the flow of packets into a network is known as "bandwidth throttling." Regulation of the flow of packets out of a network is known as "rate limiting." </p>
<p style="text-align:justify">Further advances in traffic shaping allow prioritization of traffic by user ID, in addition to IP, host name or application.</p>
<br \>
<br \>
</big>
<p>For more info, refer the following links:</p>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Traffic_shaping"> Wiki </li>
<li><a href="http://tldp.org/HOWTO/Traffic-Control-HOWTO/intro.html"> Traffic-Control-HOWTO </li>
</ol>
</body>
</html>