<html>
<head>
<link rel="stylesheet" href="stys.css">
</head>
   <body style="background-color:#EAFAF1; font-color:red">
   <big>
      <a rel="parent" href = "available_nodes" target = "main_page">Available nodes</a>
      <br />
      <br /> 
      <a rel="parent" href="view_int.html" target="main_page">View Interfaces on nodes</a>
      <br />
      <br />
      <a rel="parent" href="view_traffic.html" target = "main_page">View Traffic on nodes</a>
      <br />
      <br />
      <a rel="parent" href="change_traffic.html" target = "main_page">Change Traffic on nodes</a>
      <br />
      <br />
      <a rel="parent" href="delete_traffic.html" target = "main_page">Delete Traffic on nodes</a>
    <br />
      <br />
      <a rel="parent" href="view_log.html" target = "main_page">View History Log</a>
      <br />
      <br />
      <a rel="parent" href="ip_filter.html" target = "main_page">Block/Unblock traffic</a>
    <br />
      <br /> 
<a href="login" target="_top"> Home </a>&nbsp&nbsp&nbsp&nbsp
<a href="logout" target="_top"> Sessionlogout </a>

    
    </big>  
   </body>
</html>
