<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/stys.css') }}">
</head>
<body style="background-color:#EAFAF1">
<form action="login" method = "post">
  <fieldset>
  <legend><big><b>Logon<b></big></legend>
  <div class="p1">
    <label><b>Username</b></label><br \>
    <input type="text" placeholder="enter the username" name="uname" required><br \>
    <label><b>Password</b></label><br \>
    <input type="password" placeholder="enter the password" name="pwd" required>
    <button type="submit"> Session Logon</button>
    </div>
   </fieldset>
</form>
</body>
</html>
