<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/stys.css') }}">
</head>
<body style="background-color:#EAFAF1">
<form action="view_log" method="post">
  <fieldset>
  <legend><big><b>&nbspView History Log of Shaper Nodes:&nbsp<b></big></legend>
  <div class="p1">
   <label style="font-size:22px"> <b>IP Address:&nbsp</b></label><br \>
    <input type="text" placeholder="Enter the IP Address" name="ip" required>
    
    <button type="submit"> View Log</button>
    </div>
   </fieldset>
</form>
</body>
</html>
