<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/stys.css') }}">
</head>
<body style="background-color:#EAFAF1">
<form action="view_traffic" method="post">
  <fieldset>
  <legend><big><b>&nbsp View Traffic:&nbsp<b></big></legend>
  <div class="p1">
    <label style="font-size:22px"><b>IP Address:</b></label>
    <input type="text" placeholder="Enter the IP Address" name="ip" required>
    <label style="font-size:22px"><b>Interface:</b></label>
    <input type="text" placeholder="Enter the Interface" name="iface" required>
    <button type="submit"> Display Traffic</button>
    </div>
   </fieldset>
</form>
</body>
</html>
